body{
background-color: rgb(26, 26, 26);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
 
}

table{
width: 100%;
border-collapse: collapse;

}
.Alberto th{
font-size: 20px;
background-color: rgb(0, 118, 99);

}
td{
    color: white;
    text-align: center;
}
.tema span{
display: block;
width: 100%;
font-size: 0.7rem;

}
.fecha, td{
    text-align: center;
}
.titulo, td{
    text-align: center;
    margin-left: 70%;
}