.img {
    margin-left: 41%;
}

h1{
  
    color: red;
    margin-left: 36%;
}

.tabla, td {
    background-color: rgb(226, 226, 226);
    padding: 5px;
    margin-left: 35%;
    width: 41%;
    
}


p{
    color: red;
    margin-left: 36%;
}
hr {
    margin-left: 36%;
    margin-right: 25%;
    color: rgb(0, 0, 0);
}



.q {
    background-color: white;
    
    
}
.o, th{
    color: red;
}

.tabla3{
 
    margin-left: 36%;
    background-color: white;
    width: 40%;
 
}
u {
   margin-left: 53%;
   text-decoration: solid;
   color: red;
    
}
.segunda{
    margin-left: -9%;
    background-color: white;
    margin-bottom: -29%;

}
a, b{
 
    margin-left: 36%;
    background-color: white;
}

.tabla2{
    background-color: rgb(226, 226, 226);
    padding: 5px;
    margin-left: 35%;
    width: 41%;

}

.siuuu{
    color: rgb(32, 32, 32);
    background-color: white;
}